# Python for Data Processing

**Learning Objectives:**
- Load and explore messy data with pandas
- Apply common data cleaning techniques
- Connect Python to SQL databases
- Understand how Python complements SQL in data pipelines

Let's clean up TechMart's messy data!

In [ ]:
# Setup and Imports
import sys
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

print("Libraries loaded successfully!")
print("Python version:", sys.version)
print("pandas version:", pd.__version__)
print("numpy version:", np.__version__)
print("matplotlib version:", plt.matplotlib.__version__)
print("seaborn version:", sns.__version__)

## Part 1: Load and Explore the Data

First, let's see what we're working with.

In [ ]:
# Load TechMart's messy CSV data
df = pd.read_csv('techmart_messy_data.csv')

print("=== INITIAL DATA EXPLORATION ===")
print(f"Shape: {df.shape[0]} rows, {df.shape[1]} columns")
print(f"\nColumns: {df.columns.tolist()}")

In [ ]:
# Take a peek at what we're dealing with
print("First 5 rows:")
df.head()

In [ ]:
# Data types and missing values
print("Data Types:")
print(df.dtypes)
print(f"\nMissing Values:")
print(df.isnull().sum())

### What problems do you see?

Look at the data above and discuss:
1. What data quality issues can you spot?
2. Which columns need cleaning?
3. How would these problems affect business analysis?

In [ ]:
# Explore categories
print("Unique categories:")
print(df['Category'].value_counts())
print(f"\nEmail formats:")
print(df['Email'].head(10))

---
## Part 2: Data Cleaning Challenges

Tackle these challenges. Start with Challenge 1 and work your way through.

Each challenge builds your pandas skills step by step!

### Challenge 1: Fix Inconsistent Categories

**Problem:** Categories are inconsistent - "laptop", "Laptop", "phone", "smartphone"

**Your Task:** Standardise all category names

**Hint:** Use `.str.lower()` and create a mapping dictionary

In [ ]:
# TODO: Create a mapping dictionary to standardise categories
# Example: {'laptop': 'Laptops', 'phone': 'Smartphones', ...}

category_mapping = {
    # YOUR CODE HERE
}

# TODO: Apply the mapping to create a new 'Category_Clean' column
# Hint: df['Category_Clean'] = df['Category'].str.lower().map(category_mapping)

# Test your solution
print("Original categories:", df['Category'].unique())
# print("Cleaned categories:", df['Category_Clean'].unique())

### Challenge 2: Clean Price Data

**Problem:** Prices have different formats: "£1299.99", "749.99", "£649.99 + £89.99"

**Your Task:** Extract clean numeric prices

**Hint:** Remove £ symbols, handle additions, convert to float

In [ ]:
def clean_price(price_str):
    """
    Clean price strings to extract numeric values
    Handle formats like: "£1299.99", "749.99", "£649.99 + £89.99"
    """
    if pd.isna(price_str):
        return None
    
    # TODO: Your code here
    # Steps:
    # 1. Convert to string and remove £ symbols
    # 2. Handle "+" for multiple prices (maybe take the first one?)
    # 3. Convert to float
    # 4. Handle any errors
    
    return float(price_str)  # Replace this line

# Test with a few examples
test_prices = ["£1299.99", "749.99", "£649.99 + £89.99"]
for price in test_prices:
    # cleaned = clean_price(price)
    # print(f"{price} -> {cleaned}")
    pass

# Apply to the dataframe
# df['Price_Clean'] = df['Price'].apply(clean_price)

### Challenge 3: Standardise Date Formats

**Problem:** Dates in different formats: "01/03/2024", "2/3/24", "March 2024"

**Your Task:** Convert all dates to standard datetime format

**Hint:** Use `pd.to_datetime()` with `errors='coerce'`

In [ ]:
def clean_date(date_str):
    """
    Convert various date formats to standard datetime
    """
    if pd.isna(date_str):
        return None
    
    # TODO: Your code here
    # Handle special cases like "March 2024"
    # Use pd.to_datetime() for standard formats
    
    return pd.to_datetime(date_str, errors='coerce')

# Test your function
test_dates = ["01/03/2024", "2/3/24", "March 2024"]
for date in test_dates:
    # cleaned = clean_date(date)
    # print(f"{date} -> {cleaned}")
    pass

# Apply to dataframe
# df['Order_Date_Clean'] = df['Order Date'].apply(clean_date)

### Challenge 4: Identify Duplicate Customers

**Problem:** Same customers with different email formats or contact details

**Your Task:** Find and flag potential duplicate customers

**Hint:** Group by customer name and check for variations

In [ ]:
# Find customers who appear multiple times
name_counts = df['Customer Name'].value_counts()
duplicates = name_counts[name_counts > 1]

print("Customers appearing multiple times:")
print(duplicates)

# Look at the duplicate records in detail
for name in duplicates.index[:3]:  # Show first 3
    print(f"\n--- {name} ---")
    customer_records = df[df['Customer Name'] == name][['Customer Name', 'Email', 'Phone']]
    print(customer_records)

# TODO: Create a function to flag duplicates
def flag_duplicates(df):
    """Flag rows that might be duplicate customers"""
    # Your code here
    # Ideas: Check for same name with different emails/phones
    return df

### Challenge 5: Add Useful Columns

**Problem:** Missing business-useful information

**Your Task:** Add columns that would help TechMart's business analysis

**Ideas:**
- High value item flag (>£500)
- Customer type (based on total spending)
- Order month
- Price category (budget/mid-range/premium)

In [ ]:
# TODO: Add useful business columns

# Example: Flag expensive items
# df['High_Value'] = df['Price_Clean'] > 500

# TODO: Add more useful columns
# Ideas:
# - df['Order_Month'] = df['Order_Date_Clean'].dt.month
# - df['Customer_Type'] = based on total spending
# - df['Price_Category'] = budget/mid/premium based on price ranges

print("Added business intelligence columns!")